body {
    
    background-color: whitesmoke;
    width: 0 auto;
    
}

header {
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    background: #000;
   

}

.header > img {
    height: 65%;
    margin-left: 4rem;
}

.header > p {
    font-family: 'Press Start 2P', cursive;
    color: #00b800;
    font-size: 2rem;
    padding-left: 2rem;
}

.meme {
    width: 100%;
    display: flex;
}



.meme > img {
    margin: 0 auto;
    max-width: 100%;
    min-width: 37%;
    max-height: 440px;
    min-height: 420px;
}

@media (min-width: 600px) {
    .meme > img {
        min-height: 515px;
    }
}

@media (max-width: 200px) {
    .meme > img {
        min-height: 400px;
    }
}

.meme > h2 {
    position: absolute;
    text-align: center;
    max-width: 50%;
    left: 50%;
    margin-top: 17rem;
    margin-bottom: 10rem;
    transform: translateX(-50%);
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
}

.meme > .bottom {
    bottom: 0;
}

.meme > .top {
    top: 0;
}

.meme-form {
    width: 100%%;
    padding: 1rem;
}

.top-text {
    display: flex;
}

.bottom-text {
    display: flex;
    justify-content: space-around;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.input {
    width: 60%;
    height: 2rem;
    padding: .2rem;
    padding-left: .7rem;
    border: px solid black;
    font-family: VT323, monospace;
    font-size: 1.3rem;
    margin-right: 1rem;
    
}


.random-text {
    width: 40%;
    border-radius: 3px;
    font-family: VT323, monospace;
    font-size: 22px;
    letter-spacing: 1.5px;
    color: white;
    background: #00b800;
    border: 3px solid black;
}

.random-text:hover,
.random-text-:focus {
    opacity: .8;
}

.meme-form > input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: VT323, monospace;
    font-size: 20px;
    text-align: cen
    
}
.meme-form > input::-moz-placeholder { /* Firefox 19+ */
    font-family: VT323, monospace;
    font-size: 20px;
    text-align: cen
}

.bottom-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: .5rem;
    margin-bottom: 0;
}

.generate-new {
    width: 50%;
    font-size: 23px;
    border-radius: 3px;
    margin: .5rem;
    margin-bottom: 0;
    font-family: VT323, monospace;
    letter-spacing: 1.5px;
    color: white;
    background: #00b800;
    border: 3px solid black;
}

.generate-new:hover 
.generate-new:focus {
    opacity: .9;
    background-color: #008A8A;
}

.git-button {
    width: 50%;
    margin: .5rem;
    margin-bottom: 0;
    padding: .5rem;
    text-align: center;
    font-size: 23px;
    text-decoration: none;
    border-radius: 3px;
    font-family: VT323, monospace;
    letter-spacing: 1.5px;
    color: white;
    background: #00b800;
    border: 3px solid black;
}

.git-button:hover,
.git-button:focus {
    opacity: .9;
    background-color: #008A8A;
}

footer {
    background: black;
    height: 65px;
    display: flex;
    border-radius: 5px;
    border: 5 px double #008A8A;
}

footer > p {
    font-family: 'Press Start 2P', cursive;
    color: #00b800;
    font-size: 8.5px;
    margin: auto;
    border: 2px solid #008A8A;
    padding: 4px;
    border-radius: 3px;
}