body {
    
    background-color: whitesmoke;
    width: 0 auto;
    
}

header {
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    background: #000;
   

}

.header > img {
    height: 65%;
    margin-left: 4rem;
}

.header > p {
    font-family: 'Press Start 2P', cursive;
    color: #00b800;
    font-size: 2rem;
    padding-left: 2rem;
}

.meme {
    width: 100%;
    display: flex;
}

.meme > img {
    margin: 0 auto;
    max-width: 100%;
    min-width: 40%;
    max-height: 430px;
    min-height: 425px

}

.meme > h2 {
    position: absolute;
    text-align: center;
    max-width: 35%;
    left: 50%;
    margin-top: 20rem;
    margin-bottom: 12rem;
    transform: translateX(-50%);
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
}

.meme > .bottom {
    bottom: 0;
}

.meme > .top {
    top: 0;
}

.meme-form {
    width: 100%%;
    padding: 1rem;
}

.top-text {
    display: flex;
}

.bottom-text {
    display: flex;
    justify-content: space-around;
    margin-top: .5rem;
    margin-bottom: 2rem;
}

.input {
    width: 60%;
    height: 2rem;
    padding: .2rem;
    padding-left: .7rem;
    border: 1.5px solid black;
    font-family: VT323, monospace;
    font-size: 1.3rem;
    margin-right: 1rem;
    
}


.random-text {
    width: 40%;
    border-radius: 3px;
    font-family: VT323, monospace;
    font-size: 21.5px;
    letter-spacing: 1.5px;
    color: white;
    background: #00b800;
    border-color: black;
    border-width: 3px;
    border-style: solid;
}

.random-text:hover,
.random-text-:focus {
    opacity: .8;
}

.meme-form > input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: VT323, monospace;
    font-size: 20px;
    text-align: cen
    
}
.meme-form > input::-moz-placeholder { /* Firefox 19+ */
    font-family: VT323, monospace;
    font-size: 20px;
    text-align: cen
}


.generate-new-button:hover {
    opacity: .9;
    background-color: #008A8A;
}

.generate-new-button {
    position: relative;
    left: 7px; 
    margin-top: 6%;
    margin-right: 2%;
    padding-bottom: 5px;
    padding-top: 4px;
    border-radius: 3px;
    height: 38px;
    width: 45%;
    font-family: VT323, monospace;
    font-size: 21.5px;
    letter-spacing: 1.5px;
    color: white;
    background: #00b800;
    border-color: black;
    border-width: 3px;
    border-style: solid;
}

.git-button:hover {
    opacity: .9;
    background-color: #008A8A;

}

.git-button {
    display: inline-block;
    text-align: center;
    position: relative;
    left: 16px;
    padding-top: 2.5%;
    border-radius: 3px;
    height: 38px;
    width: 35%;
    font-family: VT323, monospace;
    font-size: 21.5px;
    letter-spacing: 1.5px;
    color: white;
    background: #00b800;
    border-color: black;
    border-width: 3px;
    border-style: solid;
}

footer {
    background: black;
    height: 50px;
    display: flex;
    border-radius: 5px;
    border: 5 px double #008A8A;
}

footer > p {
    font-family: 'Press Start 2P', cursive;
    color: #00b800;
    font-size: 7px;
    margin: auto;
    border: 2px solid #008A8A;
    padding: 4px;
    border-radius: 3px;
}